<div class="row">
  <div class="col-xs-12 mt-3">
    <a
      routerLinkActive="active"
      [routerLink]="['username']"
      style="cursor:pointer;"
      class="list-group-item list-group-item-action clearfix"
      role="tab">
      Change username
    </a>
    <a
      routerLinkActive="active"
      [routerLink]="['password']"
      style="cursor:pointer;"
      class="list-group-item list-group-item-action clearfix"
      role="tab">
      Change password
    </a>
    <a
      routerLinkActive="active"
      [routerLink]="['other']"
      style="cursor:pointer;"
      class="list-group-item list-group-item-action clearfix"
      role="tab">
      Other
    </a>
  </div>
</div>
