<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div [ngClass]="success ? 'alert-success' : 'alert-danger'" class="alert" *ngIf="error">
      <p>{{error}}</p>
    </div>
    <form [formGroup]="usernameForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="new_username">New username</label>
        <input
          type="new_username"
          id="new_username"
          class="form-control"
          formControlName="new_username"
          name="new_username"
          />
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!usernameForm.valid">
          Change username
        </button>
      </div>
    </form>
  </div>
</div>
