<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      [routerLink]="['new']"&ndash;&gt;-->
<!--&lt;!&ndash;      class="btn btn-success ml-3 mt-2">New Bet&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="changeStatus('active')"&ndash;&gt;-->
<!--&lt;!&ndash;      class="btn btn-success ml-3 mt-2">Active&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="changeStatus('pending')"&ndash;&gt;-->
<!--&lt;!&ndash;      class="btn btn-success ml-3 mt-2">Pending&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button&ndash;&gt;-->
<!--&lt;!&ndash;      (click)="changeStatus('archived')"&ndash;&gt;-->
<!--&lt;!&ndash;      class="btn btn-success ml-3 mt-2">Archived&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--<hr>-->
<div class="row">
  <div class="col-xs-12 ml-3 mr-3">
    <app-bet-item
      *ngFor="let bet of bets; let i = index"
      [bet]="bet"
      [index]="i"></app-bet-item>
  </div>
</div>
