<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div [ngClass]="success ? 'alert-success' : 'alert-danger'" class="alert" *ngIf="error">
      <p>{{error}}</p>
    </div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="current_password">Current password</label>
        <input
          type="password"
          id="current_password"
          class="form-control"
          formControlName="current_password"
          name="current_password"
        />
        <span
          *ngIf="!passwordForm.get('current_password').valid && passwordForm.get('current_password').touched"
          class="help-block">
            <span *ngIf="passwordForm.get('current_password').errors['required']">
                 This field is required
            </span>
        </span>

      </div>
      <div formGroupName="new_pass">
        <div class="form-group">
          <label for="new_password">New password</label>
          <input
            type="text"
            id="new_password"
            class="form-control"
            formControlName="new_password"
            name="new_password"
          />
          <span
            *ngIf="!passwordForm.get('new_pass.new_password').valid && passwordForm.get('new_pass.new_password').touched"
            class="help-block">
        <span *ngIf="passwordForm.get('new_pass.new_password').errors['required']">
                 This field is required
              </span>
        </span>

        </div>
        <div class="form-group">
          <label for="repeat_password">Repeat new password</label>
          <input
            type="text"
            id="repeat_password"
            class="form-control"
            formControlName="repeat_password"
            name="repeat_password"
          />
          <span
            *ngIf="!passwordForm.valid && passwordForm.get('new_pass.repeat_password').touched"
            class="help-block">
        <span *ngIf="passwordForm.get('new_pass').hasError('passwordMatch')">
                Passwords does not match
          </span>
        <span *ngIf="passwordForm.get('new_pass.repeat_password').hasError('required')">
                 This field is required
              </span>
        </span>

        </div>
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!passwordForm.valid">
          Change password
        </button>
      </div>
    </form>
  </div>
</div>
